
/* colores */

$negro-principal: #0E0E0F;
$violeta-primario: #6C6CE7;
$violeta-hover: #5b53ff;
$violeta-oscuro: #4f46e5;
$color-texto-claro: #fff;
$color-fondo-paginas: #909090;



$gris-claro: rgb(177, 176, 176);
$blanco: #fff;


$violeta-bg-soft: rgba(79, 70, 229, 0.12);
$violeta-border-soft: rgba(79, 70, 229, 0.4);

/* sombras */

$sombra-suave: 0 10px 15px rgba(0, 0, 0, 0.35);
$sombra-violeta: 0 5px 15px rgba(79, 70, 229, 0.35);


$radio-sm: 6px;
$radio-md: 10px;
$radio-lg: 12px;
$radio-xl: 18px;

/* fuentes */
$font-titulo: "Montserrat", sans-serif;
$font-precio: "Bebas Neue", sans-serif;
$font-texto: "Inter", sans-serif;


$transition-fast: 0.2s ease;

$max-width-layout: 1140px;
$icono-altura-md: 45px;